# Ignore the usuals for your language, including
# any build or dependency directories, generated docs,
# crash logs, compiled executables, and local secrets
/target
/.m2

# Ignore anything VSCode populates for plugins
/.vscode
